<div class="container-fluid" style="background-color: #7766C6;">
    <div class="row py-5">
     <div class="col-md-6 mb-3 text-white">
         <ul>
             <b>Đồ án môn Nhập môn công nghệ phần mềm</b>
            <li>Giảng viên lý thuyết: Thầy Ngô Ngọc Đăng Khoa</li>
            <li>Giảng viên thực hành: Thầy Phạm Hoàng Hải</li>
            <li>Nhóm sinh viên thực hiện: Nhóm 9 - Lớp 19/1</li>
         </ul>
     </div>
      <div class="col-md-4 mb-3 text-white">
         <ul>
            <b>Thông tin thành viên nhóm:</b>
            <li>Huỳnh Thái Thành</li>
            <li>Nguyễn Quang An</li>
            <li>Huỳnh  Ngọc Văn</li>
            <li>Nguyễn Thị Ngọc Mai</li>
         </ul>
     </div>
    </div>
</div>