<div class="container-fluid">
<nav class="navbar navbar-main navbar-expand-lg top-1 px-0 mx-4 shadow-none border-radius-xl" style="background-color: #7766C6;" id="navbarBlur" data-scroll="true">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
         <img src="./img/image 6.png" style="width:50px; heigth:50px;">
     </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <div class="ms-md-auto pe-md-3 d-flex align-items-center" >
            <div class="input-group input-group-outline">
              <input type="text" placeholder="Search here" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)">
            </div>
          </div>
          <ul class="navbar-nav  justify-content-end">
            <li class="nav-item">
              <a href="javascript:;" class="nav-link text-body p-0 position-relative">
                <b class="text-white">Danh mục khóa học</b>
              </a>
            </li>
            <li class="nav-item ps-3">
              <a href="javascript:;" class="nav-link text-body p-0 position-relative">
                <b class="text-white">Trở thành giảng viên</b>
              </a>
            </li>
            <li class="nav-item px-3">
              <a href="javascript:;" class="nav-link text-body p-0 position-relative">
                <i class="fas fa-user text-white"></i>
              </a>
            </li>
            <li class="nav-item dropdown pe-2">
              <a href="javascript:;" class="nav-link text-body p-0 position-relative">
               <i class="fas fa-bell text-white"></i>
              </a>
            </li>
        </ul>
        </div>
      </div>
    </nav>
</div>
