<div class="card">
		<div class="container-fliud">
			<div class="wrapper row">
				<div class="col-md-6">
					
				<img src="" alt="">
				</div>
				<div class="details col-md-6">
					<h3 class="course-title">HTML, CSS từ zero đến hero</h3>
					<h6 class="course-details">Giảng viên: 
						<span> Huỳnh Thái Thành</span>
					</h6>
					<h6 class="course-details">Ngày bắt đầu:
						<span> 02/12/2021</span>
					</h6>
					<h6 class="course-details">Thời gian khóa học: 
						<span> 3 tháng</span>
					</h6>
					<h6 class="course-details">Số lượng học viên: 
						<span> 45</span>
					</h6>
					<h6 class="course-details">Học phí: 
						<span> 1.000.000</span>
					</h6>
					<h6 class="course-details">Trạng thái: 
						<span style="color:green;"> Sắp bắt đầu</span>
					</h6>
					
					<div class="action">
						<button class="course-status btn btn-success" type="button">
							Ghi danh
							<a href=""></a>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
	<h5 class="course-title">Tổng quan</h5>
	<p>Khóa học HTML, CSS cho người mới bắt đầu giúp người học có cái nhìn rõ hơn về ngôn ngữ này</p>
	<br>
	<h5 class="course-title">Lịch học</h5>
	<table class="table table-sm">
		<thead>
			<tr>
			  <th scope="col"></th>
			  <th scope="col">Giờ bắt đầu</th>
			  <th scope="col">Giờ kết thúc</th>
			</tr>
		</thead>
		<tbody>
			<tr>
			  <th scope=courses>Thứ 2</th>
			  <td>17:00</td>
			  <td>19:00</td>
			</tr>
			<tr>
			  <th scope=courses>Thứ 4</th>
			  <td>8:00</td>
			  <td>10:00</td>
			</tr>
			<tr>
			  <th scope=courses>Thứ 6</th>
			  <td>13:00</td>
			  <td>15:00</td>
			</tr>
		  </tbody>
	</table>
    <div class="contain">
    <div class="col-12 d-flex justify-content-between align-items-center ">
        <h5>Các khóa học liên quan</h5>
        <a href="#" class="btn btn-light btn-sm text-black">Xem thêm
            <i class="fa fa-chevron-right"></i>
        </a>
    </div>

        <div class="courses">
        <div class="course">
        <div class="courses-top">
            <img src="" alt="" class="courses-image">
            <div class="overlay">
                <button type="button" class="btn btn-secondary" 
                title="detail"><i class="fa fa-eye"></i></button>
                <button type="button" class="btn btn-secondary"
                title="add-to-list"><i class="fa fa-shopping-bag"></i></button>
            </div>
        </div>
        <div class="courses-content">
            <div class="courses-center">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <h3 class="courses-name">
                    <span>Kiến thức nền tảng</span>
                </h3>
            </div>
            <div class="courses-bottom">
                <img
                src=""
                alt=""
                class="courses-teacher-avatar"
                />
                <span class="courses-teacher-name">Teacher's name</span>
            </div>
        </div>
        </div>
        <div class="course">
        <div class="courses-top">
            <img src="" alt="" class="courses-image">
            <div class="overlay">
                <button type="button" class="btn btn-secondary" 
                title="detail"><i class="fa fa-eye"></i></button>
                <button type="button" class="btn btn-secondary"
                title="add-to-list"><i class="fa fa-shopping-bag"></i></button>
            </div>
        </div>
        <div class="courses-content">
            <div class="courses-center">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <h3 class="courses-name">
                    <span>Javascript cơ bản</span>
                </h3>
            </div>
            <div class="courses-bottom">
                <img
                src=""
                alt=""
                class="courses-teacher-avatar"
                />
                <span class="courses-teacher-name">Teacher's name</span>
            </div>
        </div>
        </div>
        <div class="course">
        <div class="courses-top">
            <img src="images/jsnc.png" alt="" class="courses-image">
            <div class="overlay">
                <button type="button" class="btn btn-secondary" 
                title="detail"><i class="fa fa-eye"></i></button>
                <button type="button" class="btn btn-secondary"
                title="add-to-list"><i class="fa fa-shopping-bag"></i></button>
            </div>
        </div>
        <div class="courses-content">
            <div class="courses-center">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <h3 class="courses-name">
                    <span>Javascript nâng cao</span>
                </h3>
            </div>
            <div class="courses-bottom">
                <img
                src="https://images.unsplash.com/photo-1418065460487-3e41a6c84dc5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                alt=""
                class="courses-teacher-avatar"
                />
                <span class="courses-teacher-name">Teacher's name</span>
            </div>
        </div>
        </div>
        <div class="course">
        <div class="courses-top">
            <img src="images/html.png" alt="" class="courses-image">
            <div class="overlay">
                <button type="button" class="btn btn-secondary" 
                title="detail"><i class="fa fa-eye"></i></button>
                <button type="button" class="btn btn-secondary"
                title="add-to-list"><i class="fa fa-shopping-bag"></i></button>
            </div>
        </div>
        <div class="courses-content">
            <div class="courses-center">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <h3 class="courses-name">
                    <span>HTML, CSS từ cơ bản đến nâng cao</span>
                </h3>
            </div>
            <div class="courses-bottom">
                <img
                src="https://images.unsplash.com/photo-1418065460487-3e41a6c84dc5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                alt=""
                class="courses-teacher-avatar"
                />
                <span class="courses-teacher-name">Teacher's name</span>
            </div>
        </div>
        
        </div>
        </div>
    </div>
	<h5 style="margin-top:40px"class="course-title">Đánh giá
		<span class="rating">
			<span class="fa fa-star checked"></span>
			<span class="fa fa-star checked"></span>
			<span class="fa fa-star checked"></span>
			<span class="fa fa-star checked"></span>
			<span class="fa fa-star"></span>
			<span class="review-no">(50 đánh giá)</span>
		</span>
	</h5>
	<h5 class="card-header">Nguyễn Văn A</h5>
	<div class="card-body">
		<h6>22/10/2021</h6>
		<div class="rating">
			<span class="fa fa-star checked"></span>
			<span class="fa fa-star checked"></span>
			<span class="fa fa-star checked"></span>
			<span class="fa fa-star checked"></span>
			<span class="fa fa-star"></span>
		</div>
		<p class="card-text">Giảng viên truyền đạt dễ hiểu</p>
	</div>
	<button class="course-status btn btn-light" type="button">
		Xem thêm
		<a href=""></a>
	</button>