<div class="row">
    <div class="col-12">
        <div class="container">
            <div class="card">
                <div class="container-fliud">
                    <div class="wrapper row">
                        <div class="col-md-6">

                            <img src="images/html.png" alt="">
                        </div>
                        <div class="details col-md-6">
                            <h3 class="course-title">HTML, CSS từ zero đến hero</h3>
                            <h6 class="course-details">Giảng viên:
                                <span> Huỳnh Thái Thành</span>
                            </h6>
                            <h6 class="course-details">Ngày bắt đầu:
                                <span> 02/12/2021</span>
                            </h6>
                            <h6 class="course-details">Thời gian khóa học:
                                <span> 3 tháng</span>
                            </h6>
                            <h6 class="course-details">Số lượng học viên:
                                <span> 45</span>
                            </h6>
                            <h6 class="course-details">Học phí:
                                <span> 1.000.000</span>
                            </h6>
                            <h6 class="course-details">Trạng thái:
                                <span> Sắp bắt đầu</span>
                            </h6>

                            <div class="action">
                                <button class="course-status btn btn-success" type="button">
                                    Enable
                                    <a href=""></a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <h5 class="course-title">Tổng quan</h5>
            <p>Khóa học HTML, CSS cho người mới bắt đầu giúp người học có cái nhìn rõ hơn về ngôn ngữ này</p>
            <br>
            <h5 class="course-title">Lịch học</h5>
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Giờ bắt đầu</th>
                        <th scope="col">Giờ kết thúc</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope=courses>Thứ 2</th>
                        <td>17:00</td>
                        <td>19:00</td>
                    </tr>
                    <tr>
                        <th scope=courses>Thứ 4</th>
                        <td>8:00</td>
                        <td>10:00</td>
                    </tr>
                    <tr>
                        <th scope=courses>Thứ 6</th>
                        <td>13:00</td>
                        <td>15:00</td>
                    </tr>
                </tbody>
            </table>
            <br>
            <h5 class="course-title">Đánh giá
                <span class="rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="review-no">(50 đánh giá)</span>
                </span>
            </h5>
            <h5 class="card-header">Nguyễn Văn A</h5>
            <div class="card-body">
                <h6>22/10/2021</h6>
                <div class="rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                </div>
                <p class="card-text">Giảng viên truyền đạt dễ hiểu</p>
            </div>
            <button class="course-status btn btn-light" type="button">
                Xem thêm
                <a href=""></a>
            </button>
        </div>
    </div>
</div>