<section class="vh-100 bg-image">
  <div class="mask d-flex align-items-center h-100 gradient-custom-4">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-12">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <div class="d-lg-flex half">
                <div class="bg order-1" style="background-image: url('./img/duck.jpg');"></div>
                <div class="contents_lg order-2">
                  <div class="container_lg">
                    <div class="row align-items-center justify-content-center">
                      <div class="col-md-7">
                        <form action="#" method="post">
                          <div class="social-login">
                            <a href="#"
                              class="facebook btn rounded-lg d-flex justify-content-center align-items-center">
                              <i class="fab fa-google"></i> Tiếp tục với Google
                            </a>
                            <a href="#" class="twitter btn rounded-lg d-flex justify-content-center align-items-center">
                              <i class="fab fa-facebook"></i> Tiếp tục với Facebook
                            </a>
                            <a href="#" class="google btn rounded-lg d-flex justify-content-center align-items-center">
                              <i class="fab fa-github"></i> Tiếp tục với Github
                            </a>
                            <a href="/sign-up" class="google btn rounded-lg d-flex justify-content-center align-items-center">
                              <span class="mr-3"></span> Đăng ký bằng Email
                            </a>
                          </div>
                          <p class="text-center text-muted mt-5 mb-0">Bạn đã có tài khoản? <a href="/login-2"
                              class="fw-bold text-body text_login"><u>Đăng nhập</u></a></p>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>