<div class="app__back ">
    <a href="/" class="primary-color fs-5">
        <i class="fas fa-angle-left"></i>
        Trở lại
    </a>
</div>

<div class="teacher__info mt-4">
    <div class="d-flex align-item-center">
        <div class="teacher__avatar-container me-4">
            <img class="teacher-ava" src="../img/ava.jpg" alt="ảnh">
        </div>
        <div class="teacher__basic-info ms-4 d-flex flex-column justify-content-between">
            <div class="teacher__name d-flex flex-column">
                <span class="fw-bold">Giảng Viên</span>
                <span>Trần Trà Hương</span>
            </div>
            <div class="teacher__major d-flex flex-column">
                <span class="fw-bold">Chuyên Ngành</span>
                <span>IT/Âm nhạc</span>
            </div>
            <div class="teacher__gender d-flex flex-column">
                <span class="fw-bold">Giới Tính</span>
                <span>Nam</span>
            </div>
        </div>
    </div>
    <div class="teacher__intro mt-4">
        <h5>Giới Thiệu</h5>
        <p class="teacher__intro-text fs-5">
            Hiện nay cô đang là giảng viên Đại học Khoa học tự nhiên, ĐHQG TPHCM. Cô có nhiều kinh nghiệm giảng dạy tiếng Anh tại Mĩ và Việt Nam, dạy kèm nâng cao một số nhóm học sinh các trường quốc tế UNIS, TH schools, BVIS, Vinschools, Trường Quốc Tế Pháp Alexandre Yersin - Hanoi, Vietnam,... Ngoài ra cô còn tham gia các hoạt động liên quan đến giáo dục như cố vấn các chương trình trên kênh VTV1, VTV6, VTV7.
            <br>
            Với quan điểm "Học nhẹ nhàng, bản chất, và hiệu quả", cô tin rằng bất kể học sinh nào cũng có thể tiến bộ nếu được thầy cô giỏi hướng dẫn..
        </p>
    </div>
    <div class="teacher__courses">
        <h5>Các Khóa Học</h5>
    </div>
</div>