body {
  font-family: "Roboto", sans-serif;
  background-color: #fff; }

p {
  color: #b3b3b3;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto", sans-serif; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a:hover {
    text-decoration: none !important; }

.content_lg {
  padding: 7rem 0; }

h2 {
  font-size: 20px; }

@media (max-width: 991.98px) {
  .half .bg {
    height: 500px; } }

.half .contents_lg, .half .bg {
  width: 50%; }
  @media (max-width: 1199.98px) {
    .half .contents_lg, .half .bg {
      width: 100%; } }

.half .bg {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.half a {
  color: #888;
  text-decoration: underline; }

.half .btn {
  height: 48px;
  padding-left: 30px;
  padding-right: 30px; }

.half .forgot-pass {
  position: relative;
  top: 2px;
  font-size: 14px; }

.social-login a {
  display: block;
  text-decoration: none;
  position: relative;
  text-align: center;
  color: #000;
  background-color: #fff;
  margin-bottom: 10px;
  border: 1px solid #7766C6;
}

.social-login a i {
  margin-right: 8px;
}

.social-login a .fa-facebook {
  color: #18ACFE;
}

.sign_up a {
  display: block;
  text-decoration: none;
  display: block;
  position: relative;
  text-align: center;
  color: #fff;
  background-color: #7766C6;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group a {
  color: #7766C6;  
  text-decoration: none;
  font-size: 12px;
}

.form-group button {
  display: block;
  background-color: #7766C6;
  color: #fff;
}
.gradient-custom-4 {
  /* fallback for old browsers */
  background: #84fab0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}

.btn-block {
  width: 100%;
}