body {
  font-family: "Roboto", sans-serif;
  background-color: #fff; }
.header {
  color: #7766C6;
}

.text_login u {
  color: #7766C6;
  text-decoration: none;
}

.text_login u:hover {
  opacity: 0.8;
}

.btn-signup {
  background-color: #7766C6;
  color: #fff;
}